name: Publish

on:
  workflow_call:
    inputs:
      description:
        required: true
        type: string
      homepage:
        required: true
        type: string
      url:
        required: true
        type: string
      go-version:
        required: true
        type: string
      version:
        required: true
        type: string
    secrets:
      ANTTIHARJU_BOT_ID:
        required: true
      ANTTIHARJU_BOT_PRIVATE_KEY:
        required: true

permissions:
  contents: write

jobs:
  homebrew-tap:
    name: Homebrew tap
    runs-on: ubuntu-24.04
    steps:
      - name: Generate commit token
        uses: actions/create-github-app-token@v1
        id: generate-token
        with:
          app-id: ${{ secrets.ANTTIHARJU_BOT_ID }}
          private-key: ${{ secrets.ANTTIHARJU_BOT_PRIVATE_KEY }}
          repositories: homebrew-tap
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: anttiharju/homebrew-tap
          token: ${{ steps.generate-token.outputs.token }}
      - name: Update formula
        uses: anttiharju/actions/update-brew-formula@v0
        with:
          template: Go
          app-name: ${{ github.event.repository.name }}
          description: ${{ inputs.description }}
          homepage: ${{ inputs.homepage }}
          url: ${{ inputs.url }}
          go-version: ${{ inputs.go-version }}
          version: ${{ inputs.version }}
      - name: Commit changes
        uses: anttiharju/actions/commit-changes@v0
        with:
          committer: "anttiharju[bot]"
          message: |
            Update vmatch formula to ${{ inputs.version }}

            https://github.com/anttiharju/vmatch/blob/${{ github.sha }}/.github/workflows/publish.yml
